.markdown {
  @apply font-outfitlight leading-[1.68] text-secondary-text text-lg;
}

.markdown em {
  @apply bg-purple-soft text-white rounded-xl px-3 font-outfitsemibold;
}

.markdown strong {
  @apply text-background-dark font-outfitsemibold;
}

.markdown a {
  @apply text-primary-text font-outfitsemibold underline;
}

.markdown p,
.markdown ol {
  @apply text-primary-text mt-7;
}

.markdown ul {
  @apply pl-10 my-8 list-disc text-[1.2rem] text-primary-text;
}

.markdown h2 {
  @apply font-outfitsemibold text-3xl mt-12 mb-4 leading-snug text-primary-text break-words;
}

.markdown h3 {
  @apply font-outfitsemibold text-2xl mt-8 mb-4 leading-snug text-secondary-text break-words;
}

.markdown li {
  @apply leading-[1.6] text-primary-text pl-3;
}

.markdown li::marker {
  @apply text-primary-text;
}

.markdown blockquote > p {
  @apply px-6 pt-2 pb-9 rounded-r-xl text-grayw z-10;
}

.markdown table {
  @apply min-w-full text-left text-base font-light text-white;
}

.markdown thead {
  @apply font-medium bg-[#0f0f17] text-primary-text;
}

.markdown th {
  @apply px-6 py-4;
}

.markdown tr {
  @apply border-b border-[#303044];
}

.markdown td {
  @apply whitespace-nowrap px-6 py-4 font-medium;
}
