@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
.blockquote-blue {
  background: #1b222f;
  border-left: 8px solid #6b8bd0;
  color: #ddd !important;
  margin: 0;
  padding: 20px 40px 20px 15px;
  box-shadow: 2px 2px 8px #0003;
}

.blockquote-blue-title {
  color: #6b8bd0;
  font-weight: bold;
}

.blockquote-red {
  background: #301515;
  border-left: 8px solid #fd7171;
  color: #ddd !important;
  margin: 0;
  padding: 20px 40px 20px 15px;
  box-shadow: 2px 2px 8px #0003;
}

.blockquote-red-title {
  color: #fd7171;
  font-weight: bold;
}

.blockquote-purple {
  background: #302243;
  border-left: 8px solid #b49cda;
  color: #ddd !important;
  margin: 0;
  padding: 20px 40px 20px 15px;
  box-shadow: 2px 2px 8px #0003;
  font-weight: 400;
}

.blockquote-purple-title {
  color: #b49cda;
  font-weight: bold;
}

.blockquote-green-title {
  color: rgb(128, 204, 128);
  font-weight: bold;
}

/* button */
.btn-pink {
  @apply px-6 py-4 bg-brand-pink rounded-full uppercase border border-black cursor-pointer font-outfit text-brand-charcoal font-black;
}

.btn-yellow {
  @apply px-6 py-4 bg-brand-yellow rounded-full uppercase font-black
  border border-black cursor-pointer text-brand-charcoal font-outfit;
}

@font-face {
  font-family: "OutfitLight";
  src: url("../public/fonts/Outfit-Light.ttf");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Outfit";
  src: url("../public/fonts/Outfit-Regular.ttf");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "OutfitSemiBold";
  src: url("../public/fonts/Outfit-SemiBold.ttf");
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "FiraCode";
  src: url("../public/fonts/FiraCode-SemiBold.ttf");
  font-display: swap;
}

pre:not(:first-child) {
  padding: 0.8rem 0 0.8rem 1rem;
  overflow: scroll;
  background-color: rgba(249, 250, 251, 0.9);
  border: 2px solid #c21aa5;
}

.code-line {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
}

.highlight-line {
  margin-left: -16px;
  margin-right: -16px;
  background-color: rgba(55, 65, 81, 0.5);
  border-left-width: 4px;
  border-left-color: rgb(59, 130, 246);
}

.line-number:before {
  padding-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175);
  content: attr(line);
}

.math {
  display: flex;
  justify-content: center;
  color: #f9f4da;
  padding-top: 23px;
}

/**
 * MIT License
 * Copyright (c) 2018 Sarah Drasner
 * Sarah Drasner's[@sdras] Night Owl
 * Ported by Sara vieria [@SaraVieira]
 * Added by Souvik Mandal [@SimpleIndian]
 */

code[class*="language-"],
pre[class*="language-"] {
  color: #c5c8c6;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-size: 0.875em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: rgba(249, 250, 251, 0.99);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: rgba(249, 250, 251, 0.99);
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  border-radius: 0.3rem;
  margin: 2rem 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: #171520;
}

:not(pre) > code[class*="language-"] {
  padding: 0.8571429em 1.1428571em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: rgb(99, 119, 119);
  font-style: italic;
}

.token.punctuation {
  color: #12b5e5;
}

.namespace {
  color: rgb(178, 204, 214);
}

.token.deleted {
  color: rgba(239, 83, 80, 0.56);
  font-style: italic;
}

.token.symbol,
.token.property {
  color: #c6c5fe;
}

.token.tag,
.token.operator,
.token.keyword {
  color: #f38ba3;
}

.token.boolean {
  color: #12b5e5;
}

.token.number {
  color: #fcba28;
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
  color: rgb(130, 170, 255);
}

.token.selector,
.token.doctype {
  color: rgb(247, 140, 108);
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
  color: rgb(130, 170, 255);
}

.token.class-name,
.token.atrule,
.token.attr-value {
  color: rgb(255, 203, 139);
}

.token.regex,
.token.important,
.token.variable {
  color: rgb(214, 222, 235);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.card-detail {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #181824;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #0003;
}

.card-detail:before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#303044 1px, transparent 1px),
    linear-gradient(to right, #303044 1px, #0f0f17 1px);
  background-size: 30px 30px;
  opacity: 0.2;
}

blockquote {
  position: relative;
  display: flex;
  margin: 45px 0;
  justify-content: space-between;
  border: 2px solid #c21aa5;
  background-color: #181824;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #0003;
}

blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#303044 1px, transparent 1px),
    linear-gradient(to right, #303044 1px, #0f0f17 1px);
  background-size: 30px 30px;
  opacity: 0.2;
}

.example {
  position: relative;
  display: flex;
  margin: 45px 0;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  font-size: 4rem;
}

.example::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(0, 238, 255) 1px, transparent 1px),
    linear-gradient(to right, rgb(0, 238, 255) 1px, white 1px);
  background-size: 30px 30px;
  opacity: 0.3;
}

.overflow-x-auto-table {
  margin: 2rem 0;
  overflow-x: auto;
  border: 2px solid #c21aa5;
  border-radius: 1rem;
}

@media (min-width: 600px) {
  .example {
    font-size: 8rem;
  }
}
